<div class="index-container">

  <img src="/images/beer.png" alt="">
  
  {{!-- in the solution is not a <button> but <a> --}}
  <button href="/beers">Check the Beers!</button>
  <button href="/random-beer">Check a Random Beer!</button>
  
</div>